
<style>
  body {
    font-family: Lobster;
    color: white;
    background-image: linear-gradient(90deg, blue, Thistle);
  }


  a {
    color: white;

    animation: 3s rainbow infinite;

  }

  @keyframes rainbow {
    0%{color: #8BFF00}
    50%{color: #00FFFF}
    100%{color: #FF0000}

  }
</style>


<html>
<head>
  <title>Connie's blog</title>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
<body>
  <div>
      <h1><a href="/">Waffle Blog :D</a></h1>
  </div>
  {% for post in posts %}
      <div>
          <p>published: {{ post.published_date }}</p>
          <h1><a href="">{{ post.title }}</a></h1>
          <p>{{ post.text|linebreaksbr }}</p>
      </div>
  {% endfor %}

</body>
</html>
